.img--comodidades {
    image-rendering: auto;
    min-width: auto;

}

.item {
    height: auto;
}

.comodidades--slide--show {
    width: 50%;
}

.comodidades--presentation {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-content: center;
    align-items: center;
    box-shadow: 2px;
}

.comodidades--presentation--text {
    width: 50%;
    padding: 20px;
}

.comodidades--presentation--text--title {
    font-family: 'BAHNSCHRIFT text', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.comodidades--presentation--text--body {
    font-family: 'BAHNSCHRIFT text', sans-serif;
    font-size: 22px;
    text-align: justify;
    padding: 8%;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .comodidades--presentation--text--title {
        font-size: 30px;
    }

    .comodidades--presentation--text--body {
        font-size: 20px;
    }

    .comodidades--presentation {
        flex-direction: column;
        flex-flow: column;
    }

    .comodidades--slide--show {
        width: 100%;
    }

    .comodidades--presentation--text {
        width: 100%;
    }

}