.img--passeios {
    image-rendering: auto;
    min-width: auto;

}

.item {
    height: auto;
}

.passeios--slide--show {
    width: 50%;
}

.passeios--slide--show img {
    width: 100%;
}


.passeios--presentation {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-content: center;
    align-items: center;
    box-shadow: 2px;
}

.passeios--presentation--text {
    width: 50%;
    padding: 5px;
}

.passeios--presentation--text--title {
    font-family: 'BAHNSCHRIFT text', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.passeios--presentation--text--body {
    font-family: 'BAHNSCHRIFT text', sans-serif;
    font-size: 22px;
    text-align: justify;
    padding: 4%;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .passeios--presentation--text--title {
        font-size: 30px;
    }

    .passeios--presentation--text--body {
        font-size: 20px;
    }

    .passeios--presentation {
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .passeios--slide--show {
        width: 100%;
    }

    .passeios--presentation--text {
        width: 100%;
    }

}