.navbar--logo {
    font-family: 'BAHNSCHRIFT' sans-serif;
}


.navbar--nome--maior, .navbar--nome--maior a {
    font-family: 'BAHNSCHRIFT' sans-serif;
    font-size: 42px;
    font-weight: 600;
    font-style: italic;
    font-stretch: condensed;
    color: #3993d2;
    align-items: center;
    align-content: flex-end;
    text-align: right;
}


.navbar--nome--menor {
    font-family: 'BAHNSCHRIFT' sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-stretch: condensed;
    color: cornflowerblue;
}

.navbar--logo--img img {
    max-width: 100%;
    background-color: rgba(219, 223, 223, 0);
}

img {
    max-width: 100%;
    background-color: rgba(219, 223, 223, 0);
}


.navbar {
    overflow: hidden;
    background-color: rgb(176 155 127);
}

.navbar a {
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(68, 144, 115);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar--text {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.navbar--column--left {
    font-family: 'BAHNSCHRIFT' sans-serif;
    flex: 0.2 0.5 150px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
}

.navbar--column--right {
    flex: 0.7 0.4 200px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
}

.navbar--row {
    /* background-image: url(../../images/bg2.png); */
    background-repeat: no-repeat;
    padding: 15px;
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.navbar--user {
    font-family: 'BAHNSCHRIFT' serif;
    font-size: 30px;
    font-weight: 300;
}

.navbar--menubar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 730px) {
    .navbar--nome--maior, .navbar--nome--maior a{
        font-size: 36px;
    }

    .navbar--nome--menor {
        font-size: 28px;
    }
}

@media screen and (max-width: 600px) {
    .navbar--nome--maior, .navbar--nome--maior a{
        font-size: 24px;
    }

    .navbar--nome--menor {
        font-size: 20px;
    }
}

@media screen and (max-width: 350) {
    .navbar--nome--maior, .navbar--nome--maior a{
        font-size: 18px;
    }

    .navbar--nome--menor {
        font-size: 14px;
    }
}