div {
    font-size: 20px;
    font-family: 'Niramit' sans-serif;
    font-weight: 400;

}


a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    animation: normal;
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.nemuoption--text {
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.menuOption-button {
    font-family: 'Bellota text', sans-serif;
    font-size: 22px;
    font-weight: 900;
    background-color: lightskyblue;
    color: white;
    width: 150px;
    height: 50px;
    align-items: center;
    border-radius: 7px;
    border-color: cornflowerblue;
    border-width: 5px;
    margin: 5px;
}

.menuOption-button:hover {
    background-color: darkorange;
    transform: scale(1.1);
}