div {
    font-size: 20px;
    font-family: 'BAHNSCHRIFT' sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    animation: normal;
    font-family: 'BAHNSCHRIFT', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.nemuoption--text {
    font-family: 'BAHNSCHRIFT', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.menuOption-button {
    font-family: 'BAHNSCHRIFT text', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: lightskyblue;
    color: rgba(37, 121, 77, 0.865);
    width: 140px;
    height: 40px;
    align-items: center;
    border-radius: 8px;
    border-color: cornflowerblue;
    border-width: 1px 3px 3px 1px;
    margin: 3px;
}

.menuOption-button:hover {
    background-color: rgb(191, 146, 76);
    transform: scale(1.1);
}