div {
    font-size: 20px;
    font-family: 'Niramit' sans-serif;
    font-weight: 400;

}


a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    animation: normal;
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.nemuoption--text {
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.menuOption-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: deepskyblue;
    color: white;
    width: 125px;
    height: 50px;
    border-radius: 5px ;
    border-style: hidden;
    margin: 5px;
}

.menuOption-button:hover {
    background-color: darkorange;
    transform: scale(1.1);
}